@model PlayerModel
@{
    int fields = 21;
}
<partial name="_GamesPartial" />

<partial name="_WalletPartial" />

<div class="container d-flex align-content-center justify-content-center">
    <h4 id="winOrLose"></h4>
</div>


<div class="container">
    <div class="row">
        <div class="col  col-12 d-flex justify-content-center align-content-center">
            <div class="gameBoard">

                <div class="container ">

                    @for (int i = 5; i > 0; i--)
                    {
                        
                        <div class="row p-1">


                            @for (int j = 4; j > 0; j--)
                            {
                                fields--;
                                <div class="col-3">
                                    <div class="gameField currRow" field=@fields>
                                    </div>
                                </div>
                            }

                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center align-content-center text-danger">
    <p id="errorMsg"></p>
</div>

<partial name="_GameInputPartial" />



@section scripts {
<script src="~/js/minesGame.js"></script>
<script>

    setInterval(ExternalCheckBtcDeposite,60000);
    setInterval(ExternalCheckLtcDeposite,60000);
    setInterval(ExternalCheckDogeDeposite,60000);



</script>

}