
body {
    background-color: #1A2C38;
    min-height: 100%;
}

.dbodycolor {
    background-color: #0F212E;
}

.cfooter {
    margin-top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
}

.footerhr {
    width: 95%;
    background-color: ghostwhite
}

.supportedcurr {
    fill: #557086;
}

.initialheight {
    height: 400px;
}

.max {
    height: 250px;
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: ghostwhite;
    max-height: 40px;
}

    a:hover {
        color: ghostwhite;
    }

.ghwt {
    color: ghostwhite;
}

.gray {
    color: gray;
}

.maxheight {
    height: 100%;
    width: 100%;
}

.halfheight {
    height: 50%;
    width: 100%;
}

.startwinning {
    background-color: royalblue;
    height: 50px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}

    .startwinning:hover {
        background-color: #2d499d;
    }

.img {
    height: 90%;
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.astro {
    background-image: url("../img/astro.png");
}

.planet {
    background-image: url("../img/planet.png");
    max-height: 80%;
    max-width: 80%;
}

.blackhole {
    background-image: url("../img/blackhole.png");
    max-height: 75%;
    max-width: 75%;
}

.affiliate {
    background-image: url("../img/affiliate.png")
}



.leftrightanimation {
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 7s;
}

.spinning {
    -webkit-animation: linear infinite;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 20s;
}

@-webkit-keyframes run {
    0% {
        left: 0;
        transform: translateX(0);
    }

    25% {
        left: 7%;
        transform: translateX(7%);
    }

    50% {
        left: 7%;
        transform: translateY(7%);
    }

    75% {
        left: -7%;
        transform: translateX(-7%);
    }

    100% {
        left: 0%;
        transform: translateY(0%);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}


.q {
    background-color: red;
    height: 10px;
    width: 10px;
}

.logreginp {
    margin-top: 7px;
    background-color: transparent;
    border: 0.1px solid ghostwhite;
    color: ghostwhite;
    height: 30px;
    width: 250px;
    border-radius: 10px;
}

.logregbutton {
    background-color: royalblue;
    height: 50px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
}

.ghwtspn {
    color: red;
}

    .ghwtspn:hover {
        color: red;
    }

.walletShortName {
    background-color: #323830;
    border-radius: 10px;
}

#walletDiv {
    background-color: #717f6d;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    font-family: 'Segoe UI Symbol';
}

    #walletDiv:hover {
        background-color: #647161;
    }

.dropdownItem {
    padding: 5px;
    border-radius: 10px;
    background-color: #40464b
}

    .dropdownItem:hover {
        user-select: none;
        cursor: pointer;
        background-color: #363a3e
    }

#playEndDiv {
    background-color: #1b323c;
    border: 3px solid #2b4049;
    min-height: 40px;
    min-width: 350px;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
}

    #playEndDiv:hover {
        background-color: #0a1116;
    }

#playEndText {
    margin-top: 7px;
}

#gameInpContainer {
    background-color: blue;
}


/*
    Stairs
*/

.gameBoard {
    padding: 10px;
    border: 3px solid #2b4049;
    border-radius: 10px;
    background-color: #1b323c
}


.gameField {
    min-height: 50px;
    min-width: 80px;
    padding: 3px;
    border-radius: 10px;
    background-color: #0f1a21;
    border: 0.1px solid #30414b;
}

.winField {
    background-image: url("../img/planet.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.loseField {
    background-image: url("../img/blackhole.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#amountInp {
    margin-top: 10px;
    width: 450px;
    background-color: transparent;
    border: 1px solid #30414b;
    text-align: center;
    border-radius: 10px;
    color: ghostwhite;
}




.currRow {
    background-image: linear-gradient(90deg, #30414b 50%, transparent 50%), linear-gradient(90deg, #30414b 50%, transparent 50%), linear-gradient(0deg, #30414b 50%, transparent 50%), linear-gradient(0deg, #30414b 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: left top, right bottom, left bottom, right top;
    animation: border-dance 1s infinite linear;
    user-select: none;
    cursor: pointer;
    background-color: #0a1116;
    border: none;
}

@keyframes border-dance {
    0% {
        background-position: left top, right bottom, left bottom, right top;
    }

    100% {
        background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px;
    }
}

/*
    dice
*/
#diceResultContainer {
    background-color: #0f1a21;
    border-radius: 10px;
    padding: 40px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.selected {
    background-color: seagreen;
}
