@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row ">
        <div class="col col-12 col-md-6  initialheight order-2 order-lg-1">
            <div class=" halfheight ghwt d-flex align-items-end pb-2">
                <h4>
                    SpaceSharp is the best crypto casino in 2022.
                    Try to discover new planets, avoid black holes and win crypto !
                </h4>
            </div>
            <div class="halfheight ghwt d-flex align-items-center justify-content-center pt-2">
                <a asp-action="Index" asp-controller="Register"> <div class="startwinning d-flex align-content-center justify-content-center"><h5>Start Winning</h5></div></a>
            </div>
        </div>

        <div class="col col-12 col-md-6 d-flex align-items-center justify-content-center initialheight order-1 order-lg-2">
            <div class="img astro leftrightanimation"></div>
        </div>
    </div>
</div>




<div class="container-fluid mt-5 dbodycolor">
    <div class="row ">
        <div class="col col-12 col-md-6 d-flex align-items-center justify-content-center initialheight">
            <div class="img planet"></div>
        </div>

        <div class="col col-12 col-md-6 d-flex align-items-center justify-content-center initialheight ghwt">
            <div class="container">
                <h4>
                    Try to explore the universe. If you discover a new planet, you win. Choose a level and remember, the higher the risk, the larger the payout!
                </h4>
            </div>
        </div>
    </div>
</div>




<div class="container mt-5">
    <div class="row ">
        <div class="col col-12 col-md-6 d-flex align-items-center justify-content-center initialheight ghwt order-2 order-lg-1">
            <h4>
                In space, they're not common, but there are black holes. Try to avoid them, because there's no way out of them.
                If you fall into a black hole, you lose.
                But don't worry, you always have a second chance.
            </h4>
        </div>

        <div class="col col-12 col-md-6 d-flex align-items-center justify-content-center initialheight order-1 order-lg-2">
            <div class="img blackhole spinning"></div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 dbodycolor pt-4">
    <div class="row">
        <div class="col col-12 text-center">
            <h4 class="ghwt">BONUSES</h4>
        </div>
    </div>
    <div class="row">
        <div class="col col-12 text-center">
            <h5 class="gray">
                Your winnings are bigger in SpaceSharp!
            </h5>
        </div>
    </div>

    <div class="row pt-3 pb-4">
        <div class="col col-12 col-md-4 pb-2 pt-2">
            <div class="row">
                <div class="col col-12 d-flex align-content-center justify-content-center">
                    <img src="~/img/leaderboard.png" />
                </div>
            </div>
            <div class="row">
                <div class="col col-12 d-flex align-content-center justify-content-center pt-2">
                    <h6 class="ghwt">LEADERBOARD</h6>
                </div>
            </div>
            <div class="row">
                <div class="col col-12 d-flex align-content-center justify-content-center pt-2">
                    <h7 class="gray" style="width:200px">The top players of the day, week, and month get incredible bonuses. Be part of the Leaderboards and win your bonus today!</h7>
                </div>
            </div>
        </div>


        <div class="col col-12 col-md-4 pb-2 pt-2">
            <div class="row">
                <div class="col col-12 d-flex align-content-center justify-content-center">
                    <img src="~/img/cashback.png" />
                </div>
            </div>
            <div class="row">
                <div class="col col-12 d-flex align-content-center justify-content-center pt-2">
                    <h6 class="ghwt">CASHBACK</h6>
                </div>
            </div>
            <div class="row">
                <div class="col col-12 d-flex align-content-center justify-content-center pt-2">
                    <h7 class="gray" style="width:200px">Get part of the money you bet back every day. The higher your Rank, the bigger the cashback percentage you get.</h7>
                </div>
            </div>
        </div>


        <div class="col col-12 col-md-4 pb-2 pt-2">
            <div class="row">
                <div class="col col-12 d-flex align-content-center justify-content-center">
                    <img src="~/img/bonuses.png" />
                </div>
            </div>
            <div class="row">
                <div class="col col-12 d-flex align-content-center justify-content-center pt-2">
                    <h6 class="ghwt">
                        AND MORE COMING SOON!
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="col col-12 d-flex align-content-center justify-content-center pt-2">
                    <h7 class="gray" style="width:200px">
                        Stay tuned for upcoming bonuses. We've prepared a lot of surprises!
                    </h7>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container mt-5 pt-3">
    <div class="row ">
        <div class="col col-12 col-md-6  initialheight order-2 order-lg-1">
            <div class=" halfheight ghwt d-flex align-items-center justify-content-center pb-2">
                <h4>
                    GET THE HIGHEST REVENUE SHARE! <br />
                    Get up to 50% from the bet of the invited player by recommending SpaceSharp to the people you know.


                    Quick Calculation:

                    If your invited player bets 100$ and wins, you will get 1$ ! So you will get 1% when your invited player won.
                    If your invited player bets 100$ and loses bet, you will get 50$ ! So you will get 50% when your invited player loses
                </h4>
            </div>
            <div class="halfheight ghwt d-flex align-items-center justify-content-center pt-2">
                <a href="/"> <div class="startwinning d-flex align-content-center justify-content-center"><h5>Start Earning</h5></div></a>
            </div>
        </div>

        <div class="col col-12 col-md-6 d-flex align-items-center justify-content-center initialheight order-1 order-lg-2">
            <div class="img affiliate leftrightanimation"></div>
        </div>
    </div>
</div>

