
@{
}
<div class="container d-flex align-content-center justify-content-center">
    <input id="amountInp" value="0.00001" onkeypress="return isNumberKey(event,this)" />
</div>

<div class="container d-flex align-content-center justify-content-center pb-5">
            <div  class=" p-1 d-inline">
            <div id="playEndDiv" class="d-flex align-content-center justify-content-center start">
                <h5 class="ghwt" id="playEndText">PLAY</h5>
            </div>
        </div>
        <div class=" d-inline">
             <div class="dropup p-1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="~/img/easy.png" id="currDiffImg" class="d-inline" height=22px; width=22px; />
               
            </button>
            <ul class="dropdown-menu bg-secondary ghwt p-2" aria-labelledby="dropdownMenuButton1">
                <li id="dropdownEasy" class="mt-1 dropdownItem">
                    <img src="~/img/easy.png" id="easyDiffImg" class="d-inline" height=22px; width=22px; />
                   
                    <span  class="walletShortName ms-4 p-1">EASY</span>
                </li>
                <li id="dropdownMedium" class="mt-1 dropdownItem">
                    <img src="~/img/medium.png" id="mediumDiffImg" class="d-inline" height=22px; width=22px; />
                    
                    <span  class="walletShortName ms-4 p-1">MEDIUM</span>
                </li>
                <li id="dropdownHard" class="mt-1 dropdownItem">
                    <img src="~/img/hard.png" id="hardDiffImg" class="d-inline" height=22px; width=22px; />
                  
                    <span  class="walletShortName ms-4 p-1">HARD</span>
                </li>
            </ul>
        </div>
        </div>
</div>

